In [284]:
import pandas as pd

pd.read_csv('/Users/akhil/Downloads/missing_value_new.csv')

,Unnamed: 0,id,Uber Type,Origin Region,Destination Region,Origin Latitude,Origin Longitude,Destination Latitude,Destination Longitude,Journey Distance(m),Departure Date,Departure Time,Travel Time(s),Arrival Time,Fare$
0,0,ID5688329797,2.0,9,4,-38.110916,144.654173,-37.805470,144.997289,46984.0,2018-01-27,12:35:40,11402.76,15:45:42,711.80
1,1,ID3116906741,1.0,1,2,-37.809756,144.963796,-37.811989,144.938314,3041.0,2018-03-05,17:37:55,784.98,17:50:59,10.91
2,2,ID1591370641,0.0,3,4,-37.823615,144.990226,-37.799234,145.001779,3672.0,2018-06-13,05:58:38,912.48,6:13:50,13.17
3,3,ID5734331832,2.0,5,9,-37.805375,144.934730,-38.110916,144.654173,43406.0,2018-04-06,01:53:10,10403.88,4:46:33,653.59
4,4,ID1256422910,0.0,6,2,-37.787442,144.980409,-37.824499,144.952695,5605.0,2018-01-23,04:54:11,1381.44,5:17:12,13.25
5,5,ID3667564621,1.0,3,2,-37.819387,144.983901,-37.822586,144.940219,4377.0,2018-07-12,13:24:23,1026.54,13:41:29,13.49
6,6,ID3994807092,1.0,9,2,-38.110916,144.654173,-37.825523,144.948250,42293.0,2018-02-08,22:27:10,10161.96,1:16:31,50.91
7,7,ID1829814019,0.0,4,7,-37.810811,145.011151,-37.861835,144.905716,12448.0,2018-02-08,09:31:37,3899.16,10:36:36,9.54
8,8,ID3260070053,1.0,9,7,-38.110916,144.654173,-37.861835,144.905716,50797.0,2018-01-09,12:30:43,13204.98,16:10:47,57.30
9,9,ID1287074820,0.0,6,9,-37.773845,144.983689,-38.110916,144.654173,48197.0,2018-02-12,08:12:23,11519.40,11:24:22,21.86
10,10,ID1580470198,0.0,1,7,-37.802632,144.963639,-37.861835,144.905716,9458.0,2018-05-15,16:37:30,3174.18,17:30:24,13.44
11,11,ID3362215594,1.0,5,4,-37.802918,144.928123,-37.811195,145.007096,7182.0,2018-06-18,17:21:05,1843.98,17:51:48,14.29
12,12,ID3475382423,1.0,2,7,-37.821712,144.952560,-37.861835,144.905716,8419.0,2018-07-04,17:05:27,2905.86,17:53:52,20.48
13,13,ID3967590141,1.0,6,7,-37.787442,144.980409,-37.861835,144.905716,11630.0,2018-04-20,06:51:01,3697.02,7:52:38,17.83
14,14,ID3360326831,1.0,1,9,-37.817193,144.953150,-38.110916,144.654173,42361.0,2018-06-14,17:39:33,10185.42,20:29:18,45.61
15,15,ID1287733703,0.0,2,3,-37.809379,144.934527,-37.809794,144.993123,5518.0,2018-02-21,05:06:19,1357.92,5:28:56,13.71
16,16,ID3582399814,1.0,8,3,-37.815834,145.046450,-37.816226,145.007673,3927.0,2018-06-14,18:59:57,1278.54,19:21:15,16.19
17,17,ID3851013301,1.0,9,5,-38.110916,144.654173,-37.801033,144.928567,46172.0,2018-03-12,06:29:35,11206.92,9:36:21,44.29
18,18,ID3876461299,1.0,6,7,-37.773845,144.983689,-37.861835,144.905716,13169.0,2018-01-23,22:15:24,3866.46,23:19:50,27.18
19,19,ID1532658873,0.0,6,4,-37.773803,144.983647,-37.808450,145.012781,10443.0,2018-06-15,11:26:41,3158.46,12:19:19,7.94
20,20,ID1513805897,0.0,4,9,-37.802351,145.009560,-38.110916,144.654173,48167.0,2018-01-07,23:04:21,11746.86,2:20:07,34.35
21,21,ID3965215759,1.0,4,3,-37.813942,145.015182,-37.824510,144.988731,4553.0,2018-04-18,00:41:11,1131.00,1:00:02,20.69
22,22,ID5173698431,2.0,7,9,-37.861835,144.905716,-38.110916,144.654173,50797.0,2018-05-24,02:10:15,13173.36,5:49:48,816.67
23,23,ID1720830022,0.0,6,2,-37.787442,144.980409,-37.811827,144.940588,5573.0,2018-04-05,18:45:32,1438.38,19:09:30,10.21
24,24,ID3155522456,1.0,3,4,-37.818390,144.989918,-37.798891,144.993265,2209.0,2018-03-06,07:19:22,571.68,7:28:53,6.77
25,25,ID3789958174,1.0,5,2,-37.804472,144.925608,-37.822617,144.951801,3616.0,2018-05-09,22:33:18,965.22,22:49:23,18.36
26,26,ID5516831619,2.0,7,4,-37.861835,144.905716,-37.804742,145.011067,12642.0,2018-06-19,02:11:06,4002.42,3:17:48,271.24
27,27,ID1115763818,0.0,4,8,-37.812408,145.009695,-37.807202,145.026637,2223.0,2018-02-22,18:30:28,526.20,18:39:14,7.60
28,28,ID1676516648,0.0,9,4,-38.110916,144.654173,-37.802296,145.012452,48440.0,2018-06-19,08:04:16,11842.26,11:21:38,22.03
29,29,ID1393818937,0.0,5,7,-37.799659,144.924813,-37.861835,144.905716,11915.0,2018-06-05,01:37:08,3744.30,2:39:32,18.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,92,ID1986749073,0.0,4,3,-37.800019,145.005570,-37.819784,144.979034,4218.0,2018-04-06,19:48:26,1085.64,20:06:31,11.53
93,93,ID1810100848,0.0,3,5,-37.820111,144.968491,-37.811036,144.929074,4905.0,2018-07-15,21:44:27,1202.40,22:04:29,17.43
94,94,ID1515251568,0.0,7,5,-37.861835,144.905716,-37.805420,144.928230,11757.0,2018-02-28,05:25:40,3695.28,6:27:15,17.66
95,95,ID1709520228,0.0,3,1,-37.824305,144.984402,-37.815967,144.963644,2522.0,2018-01-21,02:45:32,627.06,2:55:59,15.91
96,96,ID1890630289,0.0,9,2,-38.110916,144.654173,-37.816023,144.937072,42599.0,2018-06-27,10:03:36,10234.44,12:54:10,20.65
97,97,ID1680831048,0.0,5,1,-37.804769,144.926105,-37.812016,144.959277,3490.0,2018-05-11,01:50:29,872.70,2:05:01,NaN
98,98,ID3810115544,1.0,7,5,-37.861835,144.905716,-37.810230,144.930561,11774.0,2018-01-17,01:13:31,3753.12,2:16:04,29.30
99,99,ID3589079497,1.0,9,2,-38.110916,144.654173,-37.821855,144.947504,41934.0,2018-05-01,20:06:47,10084.74,22:54:51,46.70
100,100,ID3744802120,1.0,5,6,-37.800212,144.925817,-37.773845,144.983689,7474.0,2018-04-14,12:39:38,1673.04,13:07:31,NaN
101,101,ID1363371002,0.0,4,8,-37.809707,144.993045,-37.815834,145.046450,4758.0,2018-04-26,13:49:36,1475.58,14:14:11,9.19
102,102,ID1338286855,0.0,9,5,-38.110916,144.654173,-37.806245,144.932170,43582.0,2018-07-28,10:44:04,10438.20,13:38:02,22.74
103,103,ID3238886385,1.0,5,8,-37.810433,144.924247,-37.815834,145.046450,11323.0,2018-07-20,22:53:45,3189.90,23:46:54,24.45
104,104,ID1136842181,0.0,9,3,-38.110916,144.654173,-37.824699,144.984813,45633.0,2018-01-24,03:49:18,11024.64,6:53:02,28.14
105,105,ID5232380808,2.0,2,8,-37.813141,144.939103,-37.815834,145.046450,9797.0,2018-01-03,11:17:34,2771.04,12:03:45,178.48
106,106,ID5459103229,2.0,7,6,-37.861835,144.905716,-37.773845,144.983689,13169.0,2018-01-25,06:29:43,3863.58,7:34:06,NaN
107,107,ID5302795639,2.0,9,8,-38.110916,144.654173,-37.807202,145.026637,49777.0,2018-04-28,19:45:13,12099.66,23:06:52,NaN
108,108,ID3397893207,1.0,5,9,-37.817300,144.925797,-38.110916,144.654173,43802.0,2018-04-03,03:00:20,10514.94,5:55:34,51.14
109,109,ID3338507147,1.0,3,5,-37.824240,144.983174,-37.814826,144.927096,6697.0,2018-01-21,23:26:19,1457.46,23:50:36,NaN
110,110,ID1397411947,0.0,6,9,-37.787442,144.980409,-38.110916,144.654173,47035.0,2018-01-06,02:31:23,11407.86,5:41:30,33.74
111,111,ID1576039108,0.0,6,1,-37.790797,144.985865,-37.804450,144.952773,4380.0,2018-03-13,04:48:18,1239.42,5:08:57,12.70
112,112,ID3519573534,1.0,1,6,-37.808104,144.976768,-37.787433,144.980377,2330.0,2018-02-10,20:01:50,559.14,20:11:09,15.43
113,113,ID3298105985,1.0,6,3,-37.790797,144.985865,-37.815732,144.989736,3393.0,2018-05-14,23:28:19,973.50,23:44:32,18.93
114,114,ID5568116264,2.0,1,3,-37.813539,144.948164,-37.815563,144.993068,4705.0,2018-04-26,14:39:26,1264.38,15:00:30,97.04
115,115,ID1318342122,0.0,2,9,-37.814317,144.935907,-38.110916,144.654173,42823.0,2018-01-09,10:10:07,10292.04,13:01:39,NaN
116,116,ID1972326317,0.0,4,8,-37.809546,145.001703,-37.807202,145.026637,2955.0,2018-06-28,18:14:53,710.34,18:26:43,8.53
117,117,ID1633856728,0.0,9,4,-38.110916,144.654173,-37.807885,144.991746,46355.0,2018-02-02,18:03:13,11180.52,21:09:33,25.50
118,118,ID3877953909,1.0,8,3,-37.815834,145.046450,-37.816535,144.971039,7091.0,2018-07-18,15:31:10,2118.54,16:06:28,NaN
119,119,ID1692637328,0.0,5,9,-37.804452,144.926224,-38.110916,144.654173,44170.0,2018-01-24,02:30:34,10638.00,5:27:52,29.80
120,120,ID1821017948,0.0,1,6,-37.797697,144.967526,-37.787433,144.980377,2586.0,2018-03-23,10:43:43,649.98,10:54:32,NaN
121,121,ID1818505785,0.0,8,9,-37.815834,145.046450,-38.110916,144.654173,51032.0,2018-05-09,04:14:56,12681.06,7:46:17,35.65

In [285]:
df = pd.read_csv('/Users/akhil/Downloads/missing_value_new.csv')
test = df[df['Fare$'].isna()]
train = df[df['Fare$'].notna()]

In [286]:
from sklearn import preprocessing

def one_hot_encode(df, column_name, prefix):
    new_df = pd.get_dummies(df[column_name],prefix=prefix)
    return pd.concat([df, new_df], axis='columns')

def encode_data(df):
    df.drop(columns =['Unnamed: 0', 'id'], inplace=True)
    fares = df.pop('Fare$')
    
    
    df['Departure Date'] = pd.to_datetime(df['Departure Date'], format='%Y-%m-%d')
    df['Departure Time'] = pd.to_datetime(df['Departure Time'], format='%H:%M:%S')
    df['Arrival Time'] = pd.to_datetime(df['Arrival Time'], format='%H:%M:%S')
    df['Departure Date'] = pd.to_datetime(df['Departure Date']).astype(int)
    df['Departure Time'] = pd.to_datetime(df['Departure Time']).astype(int)
    df['Arrival Time'] = pd.to_datetime(df['Arrival Time']).astype(int)
    
    df = one_hot_encode(df, 'Uber Type', 'uber_type')
    df = one_hot_encode(df, 'Origin Region', 'origin_region')
    df = one_hot_encode(df, 'Destination Region', 'destination_region')
    return df, fares
  
def normalize_data(df):
    np_array = df.values
    min_max_scaler = preprocessing.MinMaxScaler()
    min_max_scaler.fit(np_array)
    np_array_scaled = min_max_scaler.transform(np_array)
    df = pd.DataFrame(np_array_scaled)
    return df, min_max_scaler

def denormalize_data(df, min_max_scaler):
    np_array = df.values
    np_array_scaled = min_max_scaler.inverse_transform(np_array)
    df = pd.DataFrame(np_array_scaled)
    return df

In [288]:
X_train, y_train = encode_data(train.copy())
X_test, y_test = encode_data(test.copy())

X_train.drop(columns =[x for x in X_train.columns if x not in X_test.columns], inplace=True)

X_train, fitter = normalize_data(X_train.copy())
X_test, fitter = normalize_data(X_test.copy())
y_train, min_max_fitter = normalize_data(y_train.copy().to_frame())

In [289]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()  
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [290]:
y_pred = regressor.predict(X_test)

In [291]:
y_pred = np.transpose(y_pred)
y_pred

array([[-0.12070089, -0.15636816, -0.18798337, -0.11293215,  0.12264159,
        -0.04869745, -0.12403223, -0.07649262, -0.23798178,  0.27713663,
         0.03741744, -0.06758839, -0.20006755, -0.06921215,  0.45344725,
         0.58355427, -0.03235654, -0.07033746, -0.06663221, -0.19711257]])

In [292]:
y_pred = pd.Series(y_pred[0])
y_pred = denormalize_data(y_pred.copy().to_frame(), min_max_fitter)
y_pred

             0
0   -93.742579
1  -122.717241
2  -148.400168
3   -87.431562
4   103.939119
5   -35.249857
6   -96.448819
7   -57.829543
8  -189.016877
9   229.444712
10   34.706429
11  -50.596105
12 -158.216878
13  -51.915179
14  372.672407
15  478.366151
16  -21.975155
17  -52.829339
18  -49.819343
19 -155.816367

In [211]:
train

,Unnamed: 0,id,Uber Type,Origin Region,Destination Region,Origin Latitude,Origin Longitude,Destination Latitude,Destination Longitude,Journey Distance(m),Departure Date,Departure Time,Travel Time(s),Arrival Time,Fare$
0,0,ID5688329797,2.0,9,4,-38.110916,144.654173,-37.805470,144.997289,46984.0,2018-01-27,12:35:40,11402.76,15:45:42,711.80
1,1,ID3116906741,1.0,1,2,-37.809756,144.963796,-37.811989,144.938314,3041.0,2018-03-05,17:37:55,784.98,17:50:59,10.91
2,2,ID1591370641,0.0,3,4,-37.823615,144.990226,-37.799234,145.001779,3672.0,2018-06-13,05:58:38,912.48,6:13:50,13.17
3,3,ID5734331832,2.0,5,9,-37.805375,144.934730,-38.110916,144.654173,43406.0,2018-04-06,01:53:10,10403.88,4:46:33,653.59
4,4,ID1256422910,0.0,6,2,-37.787442,144.980409,-37.824499,144.952695,5605.0,2018-01-23,04:54:11,1381.44,5:17:12,13.25
5,5,ID3667564621,1.0,3,2,-37.819387,144.983901,-37.822586,144.940219,4377.0,2018-07-12,13:24:23,1026.54,13:41:29,13.49
6,6,ID3994807092,1.0,9,2,-38.110916,144.654173,-37.825523,144.948250,42293.0,2018-02-08,22:27:10,10161.96,1:16:31,50.91
7,7,ID1829814019,0.0,4,7,-37.810811,145.011151,-37.861835,144.905716,12448.0,2018-02-08,09:31:37,3899.16,10:36:36,9.54
8,8,ID3260070053,1.0,9,7,-38.110916,144.654173,-37.861835,144.905716,50797.0,2018-01-09,12:30:43,13204.98,16:10:47,57.30
9,9,ID1287074820,0.0,6,9,-37.773845,144.983689,-38.110916,144.654173,48197.0,2018-02-12,08:12:23,11519.40,11:24:22,21.86
10,10,ID1580470198,0.0,1,7,-37.802632,144.963639,-37.861835,144.905716,9458.0,2018-05-15,16:37:30,3174.18,17:30:24,13.44
11,11,ID3362215594,1.0,5,4,-37.802918,144.928123,-37.811195,145.007096,7182.0,2018-06-18,17:21:05,1843.98,17:51:48,14.29
12,12,ID3475382423,1.0,2,7,-37.821712,144.952560,-37.861835,144.905716,8419.0,2018-07-04,17:05:27,2905.86,17:53:52,20.48
13,13,ID3967590141,1.0,6,7,-37.787442,144.980409,-37.861835,144.905716,11630.0,2018-04-20,06:51:01,3697.02,7:52:38,17.83
14,14,ID3360326831,1.0,1,9,-37.817193,144.953150,-38.110916,144.654173,42361.0,2018-06-14,17:39:33,10185.42,20:29:18,45.61
15,15,ID1287733703,0.0,2,3,-37.809379,144.934527,-37.809794,144.993123,5518.0,2018-02-21,05:06:19,1357.92,5:28:56,13.71
16,16,ID3582399814,1.0,8,3,-37.815834,145.046450,-37.816226,145.007673,3927.0,2018-06-14,18:59:57,1278.54,19:21:15,16.19
17,17,ID3851013301,1.0,9,5,-38.110916,144.654173,-37.801033,144.928567,46172.0,2018-03-12,06:29:35,11206.92,9:36:21,44.29
18,18,ID3876461299,1.0,6,7,-37.773845,144.983689,-37.861835,144.905716,13169.0,2018-01-23,22:15:24,3866.46,23:19:50,27.18
19,19,ID1532658873,0.0,6,4,-37.773803,144.983647,-37.808450,145.012781,10443.0,2018-06-15,11:26:41,3158.46,12:19:19,7.94
20,20,ID1513805897,0.0,4,9,-37.802351,145.009560,-38.110916,144.654173,48167.0,2018-01-07,23:04:21,11746.86,2:20:07,34.35
21,21,ID3965215759,1.0,4,3,-37.813942,145.015182,-37.824510,144.988731,4553.0,2018-04-18,00:41:11,1131.00,1:00:02,20.69
22,22,ID5173698431,2.0,7,9,-37.861835,144.905716,-38.110916,144.654173,50797.0,2018-05-24,02:10:15,13173.36,5:49:48,816.67
23,23,ID1720830022,0.0,6,2,-37.787442,144.980409,-37.811827,144.940588,5573.0,2018-04-05,18:45:32,1438.38,19:09:30,10.21
24,24,ID3155522456,1.0,3,4,-37.818390,144.989918,-37.798891,144.993265,2209.0,2018-03-06,07:19:22,571.68,7:28:53,6.77
25,25,ID3789958174,1.0,5,2,-37.804472,144.925608,-37.822617,144.951801,3616.0,2018-05-09,22:33:18,965.22,22:49:23,18.36
26,26,ID5516831619,2.0,7,4,-37.861835,144.905716,-37.804742,145.011067,12642.0,2018-06-19,02:11:06,4002.42,3:17:48,271.24
27,27,ID1115763818,0.0,4,8,-37.812408,145.009695,-37.807202,145.026637,2223.0,2018-02-22,18:30:28,526.20,18:39:14,7.60
28,28,ID1676516648,0.0,9,4,-38.110916,144.654173,-37.802296,145.012452,48440.0,2018-06-19,08:04:16,11842.26,11:21:38,22.03
29,29,ID1393818937,0.0,5,7,-37.799659,144.924813,-37.861835,144.905716,11915.0,2018-06-05,01:37:08,3744.30,2:39:32,18.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,79,ID1222669948,0.0,1,4,-37.799596,144.969588,-37.811770,145.005034,4063.0,2018-03-16,03:13:01,1046.16,3:30:27,14.47
80,80,ID5719832166,2.0,2,1,-37.813866,144.937148,-37.813466,144.940857,416.0,2018-07-26,07:03:11,119.04,7:05:10,17.07
81,81,ID1267265680,0.0,8,6,-37.815834,145.046450,-37.790818,144.985793,7471.0,2018-05-14,18:42:27,2192.70,19:18:59,11.34
82,82,ID5811474123,2.0,6,9,-37.790818,144.985793,-38.110916,144.654173,47186.0,2018-07-13,13:02:23,11418.06,16:12:41,706.44
83,83,ID5342235593,2.0,9,2,-38.110916,144.654173,-37.813423,144.938133,42580.0,2018-06-24,23:42:00,10203.48,2:32:03,646.08
85,85,ID1746672619,0.0,8,3,-37.815834,145.046450,-37.815366,144.974639,6737.0,2018-04-25,11:22:53,1996.38,11:56:09,8.12
89,89,ID1834772766,0.0,1,8,-37.815518,144.964431,-37.815834,145.046450,7754.0,2018-04-15,22:05:16,2246.10,22:42:42,19.96
90,90,ID5298932765,2.0,9,2,-38.110916,144.654173,-37.813288,144.940409,42375.0,2018-06-25,23:45:49,10160.88,2:35:09,638.04
92,92,ID1986749073,0.0,4,3,-37.800019,145.005570,-37.819784,144.979034,4218.0,2018-04-06,19:48:26,1085.64,20:06:31,11.53
93,93,ID1810100848,0.0,3,5,-37.820111,144.968491,-37.811036,144.929074,4905.0,2018-07-15,21:44:27,1202.40,22:04:29,17.43
94,94,ID1515251568,0.0,7,5,-37.861835,144.905716,-37.805420,144.928230,11757.0,2018-02-28,05:25:40,3695.28,6:27:15,17.66
95,95,ID1709520228,0.0,3,1,-37.824305,144.984402,-37.815967,144.963644,2522.0,2018-01-21,02:45:32,627.06,2:55:59,15.91
96,96,ID1890630289,0.0,9,2,-38.110916,144.654173,-37.816023,144.937072,42599.0,2018-06-27,10:03:36,10234.44,12:54:10,20.65
98,98,ID3810115544,1.0,7,5,-37.861835,144.905716,-37.810230,144.930561,11774.0,2018-01-17,01:13:31,3753.12,2:16:04,29.30
99,99,ID3589079497,1.0,9,2,-38.110916,144.654173,-37.821855,144.947504,41934.0,2018-05-01,20:06:47,10084.74,22:54:51,46.70
101,101,ID1363371002,0.0,4,8,-37.809707,144.993045,-37.815834,145.046450,4758.0,2018-04-26,13:49:36,1475.58,14:14:11,9.19
102,102,ID1338286855,0.0,9,5,-38.110916,144.654173,-37.806245,144.932170,43582.0,2018-07-28,10:44:04,10438.20,13:38:02,22.74
103,103,ID3238886385,1.0,5,8,-37.810433,144.924247,-37.815834,145.046450,11323.0,2018-07-20,22:53:45,3189.90,23:46:54,24.45
104,104,ID1136842181,0.0,9,3,-38.110916,144.654173,-37.824699,144.984813,45633.0,2018-01-24,03:49:18,11024.64,6:53:02,28.14
105,105,ID5232380808,2.0,2,8,-37.813141,144.939103,-37.815834,145.046450,9797.0,2018-01-03,11:17:34,2771.04,12:03:45,178.48
108,108,ID3397893207,1.0,5,9,-37.817300,144.925797,-38.110916,144.654173,43802.0,2018-04-03,03:00:20,10514.94,5:55:34,51.14
110,110,ID1397411947,0.0,6,9,-37.787442,144.980409,-38.110916,144.654173,47035.0,2018-01-06,02:31:23,11407.86,5:41:30,33.74
111,111,ID1576039108,0.0,6,1,-37.790797,144.985865,-37.804450,144.952773,4380.0,2018-03-13,04:48:18,1239.42,5:08:57,12.70
112,112,ID3519573534,1.0,1,6,-37.808104,144.976768,-37.787433,144.980377,2330.0,2018-02-10,20:01:50,559.14,20:11:09,15.43
113,113,ID3298105985,1.0,6,3,-37.790797,144.985865,-37.815732,144.989736,3393.0,2018-05-14,23:28:19,973.50,23:44:32,18.93
114,114,ID5568116264,2.0,1,3,-37.813539,144.948164,-37.815563,144.993068,4705.0,2018-04-26,14:39:26,1264.38,15:00:30,97.04
116,116,ID1972326317,0.0,4,8,-37.809546,145.001703,-37.807202,145.026637,2955.0,2018-06-28,18:14:53,710.34,18:26:43,8.53
117,117,ID1633856728,0.0,9,4,-38.110916,144.654173,-37.807885,144.991746,46355.0,2018-02-02,18:03:13,11180.52,21:09:33,25.50
119,119,ID1692637328,0.0,5,9,-37.804452,144.926224,-38.110916,144.654173,44170.0,2018-01-24,02:30:34,10638.00,5:27:52,29.80
121,121,ID1818505785,0.0,8,9,-37.815834,145.046450,-38.110916,144.654173,51032.0,2018-05-09,04:14:56,12681.06,7:46:17,35.65